//- IMPORTS / VARIABLES
@import '_reset'

cMain     = #9013FE
cText     = #626262
cTextDark = #252525
cLightBG = #F5E9FF

//- BASIC
*
    box-sizing: border-box
    
body
    font-family: 'Karla', 'Helvetica', 'Arial', sans-serif
    font-size: 100%
    
h1,h2,h3,h4,h5,h6
    text-align: center
    
a,a:visited
    color: cMain
    position: relative
    
em
    font-style: italic
    
.clear
    clear: both
    display: block
    

//- CONTAINERS
.one-page-container
    display: block
    margin: 0 auto
    max-width: 800px
    width: 100%

.extra-padding-container
    padding: 40px 40px 0 40px
    width: 100%
    
.bottom-banner
    background: cLightBG
    border-radius: 5px
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.07)
    margin: 0 0 20px 0
    padding: 40px
    width: 100%
    

//- HEADING CONTENT
img.logo
    display: block
    margin: 40px auto
    text-align: center
    width: 150px
    
h2
    color: cMain
    font-size: 36px
    font-weight: 700
    margin: 0 0 20px 0
    
h3
    color: cText
    font-size: 18px
    line-height: 28px
    margin: 0 auto 60px
    max-width: 500px
    
    span
        background: cLightBG
        border-radius: 5px
        color: cTextDark
        line-height: 50px
        padding: 2px 10px
    
.break-it-up
    height: 60px
    width: 100%
    
    
//- LOGO ITEMS
a.logo-item-link
    display: inline-block
    height: 150px
    margin: 10px
    position: relative
    transition: all .3s ease
    width: 152px
    
    &:hover
        img.logo-item
            padding: 10px
        
    &.new
        &:after
            background: cMain
            border-radius: 5px
            color: white
            content: 'New'
            display: block
            font-size: 12px
            padding: 5px 10px
            position: absolute
            top: 0
            right: 0
        
img.logo-item
    display: block
    padding: 20px
    width: 152px
    height: 150px
    transition: .3s ease all
    

//- BOTTOM BANNER
.bottom-banner
    h4
        color: cTextDark
        float: left
        font-size: 32px
        font-weight: 700
        text-align: left
        
        span
            color: cText
            font-size: 18px
            font-weight: 400
            
    .contact-button
        background: cMain
        border-radius: 100px
        color: white
        float: right
        font-size: 20px
        font-weight: 700
        letter-spacing: 1px
        padding: 25px 45px
        text-decoration: none
        top: 0
        transition: all .3s ease
        
        &:hover
            box-shadow: 0 10px 40px 0 rgba(0,0,0,0.3)
            top: -5px
            

//- FOOTER
footer
    border-top: 1px solid #ccc
    padding: 40px
    width: 100%
    
    p
        color: cText
        font-size: 14px
        line-height: 25px
        text-align: center
        

//- MEDIA QUERIES
@media(max-width:800px)

    //- CONTAINERS
    .extra-padding-container
        padding: 20px 20px 0 20px
        
    .bottom-banner
        border-radius: 0
        
        h4
            float: none
            
            span
                display: block
                line-height: 25px
                padding-top: 20px
            
        .contact-button
            display: block
            float: none
            margin: 40px auto 0
            text-align: center
            width: auto

    //- LOGO ITEMS
    a.logo-item-link
        display: block
        height: 200px
        margin: 40px auto
        max-width: 204px
        width: 100%
            
    img.logo-item
        height: 200px
        max-width: 204px
        width: 100%
